[package]
name = "healthchecks"
version = "2.0.0"
authors = ["Harsh Shandilya <me@msfjarvis.dev>"]
edition = "2018"
description = "Simple library to notify healthchecks.io from inside applications"
repository = "https://github.com/msfjarvis/healthchecks-rs"
homepage = "https://github.com/msfjarvis/healthchecks-rs"
license = "MIT/Apache-2.0"
keywords = ["healthchecks"]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "~1.0"
serde = { version = "~1.0", default-features = false, features = [ "derive" ] }
serde_json = "~1.0"
ureq = { version = "~2.2", features = [ "json" ] }
uuid = { version = "~0.8", default-features = false, features = [ "v1" ] }

[badges]
maintenance = { status = "actively-developed" }
